{% extends 'layout.html' %}

{% block content %}

<h1 class="text-1"><b><u>Диэлектрики в электростатическом поле</u></b></h1>
<div class="di">
    <b>Диэлектрик</b> – вещество, содержащее только связные
    заряды.
    Диэлектрики в соответствии со структурой их молекул делят на
    два вида: <h4><b>полярные</b></h4> <h4><b>неполярные</b></h4>
    Полярный диэлектрик состроит из полярных молекул, а
    неполярный – из неполярных. <h4><b>Поляризация диэлектрика –</b></h4> пространственное разделение
    разноименных зарядов, входящих в состав атомов (молекул) вещества, под
    действием внешнего электрического поля.
    Индукционные заряды создают свое собственное поле Е, которое
    не компенсирует внешнее поле Е0 во всем объёме проводника (внутри проводника). Полное
    электростатическое поле внутри диэлектрика не равно нулю и оказывается по модулю
    меньше внешнего поля: Е = Е0 + Е != 0
    Напряженность суммарного поля связных зарядов направлена
    противоположно напряженности внешнего поля. <h4><b><u>Диэлектрическая проницаемость вещества</u></b></h4> Уменьшение
    напряженности электростатического поля в среде по
    сравнению с вакуумом характеризуется <b>относительной диэлектрической
    проницаемостью</b> среды. <h4><b>Относительная диэлектрическая проницаемость среды</b></h4> е –
    число, показывающее, во сколько раз напряженность электростатического поля в однородном
    диэлектрике Е меньше, чем напряженность в вакууме Евак:
    е = Евак/Е, где Е – напряженность поля в диэлектрике
</div>

<body>
<p class="thumb">
    <img src="{{ url_for('static', filename='img/dielectric.jpg') }}" alt="Фотография 1" width=390" height="480">

</body>

<html>
<style>
   .thumb{
    margin-top: 3%;
    margin-right: 100px;
    margin-bottom: 30px;
    margin-left: 400px;
   }

   .text-1{
    margin-top: 3%;
    margin-bottom: 15px;
    margin-left: 330px;
    color: brown;
   }

   .di{
    margin-top: 3%;
    margin-bottom: 15px;
    margin-left: 50px;
    margin-right: 50px;
    color: brown;
   }

</style>
<body>


{% endblock %}