{% extends 'layout.html' %}

{% block content %}

<h1 class="text-1"><b><u>Проводники в электростатическом поле</u></b></h1>
<div class="di">
    <h4><b>Основная особенность проводников</b></h4> – наличие свободных зарядов (электронов), которые участвуют в
    тепловом движении и могут перемещаться по всему обьему проводника.
    <h4><b>Полупроводник</b></h4> – вещество, в котором количество свободных зарядов зависит от внешних условий
    (температура, напряженность электрического поля).
    <h4><b>Диэлектрик</b></h4> – вещество, не проводящее электрический ток. (далее)
    <h4><b>Проводники в электрическом поле</b></h4>
    <h4><b>Электромагнитная индукция</b></h4> – перераспределение свободных зарядов в проводнике, внесенным в
    электрическое поле, в результате чего на поверхности проводника возникают некомпенсированные положительные и
    отрицательные заряды.
    Полное электростатическое поле внутри проводника равно нулю, а потенциалы во всех точках одинаковы и равны
    потенциалу на поверхности проводника:
    <h4><b>Электрическая защита</b></h4>
    Все внутренние области проводника, внесенного в электрическое поле, остаются электронейтральными.
    <h4><b>На этом основана электростатическая защита</b></h4> – чувствительные к электрическому полю приборы для
    исключения влияния поле помещают в металлические ящики.

</div>

<body>
<p class="thumb">
    <img src="{{ url_for('static', filename='img/provodnik.jpg') }}" alt="Фотография 1" width=550" height="480">

</body>

<html>
<style>
   .thumb{
    margin-top: 3%;
    margin-right: 100px;
    margin-bottom: 30px;
    margin-left: 380px;
   }

   .text-1{
    margin-top: 3%;
    margin-bottom: 15px;
    margin-left: 330px;
    color: brown;
   }

   .di{
    margin-top: 3%;
    margin-bottom: 15px;
    margin-left: 50px;
    margin-right: 50px;
    color: brown;
   }

</style>
<body>


{% endblock %}

